@font-face {
	font-family: 'Graphik-Black';
	src: url('../fonts/Graphik-Black.eot');
	src: local('☺'), url('../fonts/Graphik-Black.woff') format('woff'), url('../fonts/Graphik-Black.ttf') format('truetype'), url('../fonts/Graphik-Black.svg') format('svg');
}

@font-face {
	font-family: 'Graphik-Bold';
	src: url('../fonts/Graphik-Bold.eot');
	src: local('☺'), url('../fonts/Graphik-Bold.woff') format('woff'), url('../fonts/Graphik-Bold.ttf') format('truetype'), url('../fonts/Graphik-Bold.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Medium';
	src: url('../fonts/Graphik-Medium.eot');
	src: local('☺'), url('../fonts/Graphik-Medium.woff') format('woff'), url('../fonts/Graphik-Medium.ttf') format('truetype'), url('../fonts/Graphik-Medium.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Semibold';
	src: url('../fonts/Graphik-Semibold.eot');
	src: local('☺'), url('../fonts/Graphik-Semibold.woff') format('woff'), url('../fonts/Graphik-Semibold.ttf') format('truetype'), url('../fonts/Graphik-Semibold.svg') format('svg');
}
@font-face {
	font-family: 'Graphik-Regular';
	src: url('../fonts/Graphik-Regular.eot');
	src: local('☺'), url('../fonts/Graphik-Regular.woff') format('woff'), url('../fonts/Graphik-Regular.ttf') format('truetype'), url('../fonts/Graphik-Regular.svg') format('svg');
}


html, body {
	margin: 0px !important;
	padding:0px; 
	height:100%;
	min-height:100%;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:19px;
	line-height:24px;
	background:#FFFFFF;
	color:#333333;
	font-family: 'Graphik-Regular';

}

h1,h2,h3,h4,h5,h6,p,a,em,span,ul,li,ol,img,form,div {
	margin:0;
	padding:0;
	list-style:none;
	font-style:normal;
	font-weight:normal;
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; 
}
input, select, option, textarea {
	outline:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

}
header, nav, section, article, footer, address {   
    display: block;   
}
a {
	text-decoration:none;
}
a:focus { outline: none; }
a:hover {
	text-decoration:none;
}
b, strong {
	font-family:'Graphik-Bold';
	font-weight:700;
}
.clearfix {
    overflow: hidden;
}
.clear-both {
	clear:both;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.w-0 {
	width:0%;
	float:left;
}
.w-2 {
	width:2%;
	float:left;
}
.w-5 {
	width:5%;
	float:left;
}
.w-6 {
	width:6%;
	float:left;
}
.w-10 {
	width:10%;
	float:left;
}
.w-20 {
	width:20%;
	float:left;
}
.w-23 {
	width:23%;
	float:left;
}
.w-23-5 {
	width:23.5%;
	float:left;
}
.w-25 {
	width:25%;
	float:left;
}
.w-29 {
	width:29%;
	float:left;
}
.w-30 {
	width:30%;
	float:left;
}
.w-32 {
	width:32%;
	float:left;
}
.w-33 {
	width:33.33333333%;
	float:left;
}
.w-35 {
	width:35%;
	float:left;
}

.w-40 {
	width:40%;
	float:left;
}
.w-45 {
	width:45%;
	float:left;
}
.w-47 {
	width:47%;
	float:left;
}
.w-48 {
	width:48%;
	float:left;
}
.w-49 {
	width:49%;
	float:left;
}
.w-50 {
	width:50%;
	float:left;
}
.w-55 {
	width:55%;
	float:left;
}
.w-60 {
	width:60%;
	float:left;
}
.w-65 {
	width:65%;
	float:left;
}
.w-66 {
	width:66.66666666%;
	float:left;
}


.w-70 {
	width:70%;
	float:left;
}
.w-74-5 {
	width:74.5%;
	float:left;
}
.w-75 {
	width:75%;
	float:left;
}
.w-80 {
	width:80%;
	float:left;
}
.w-100 {
	width:100%;
	float:left;
}
.f-left {
	float:left;
}
.f-right {
	float:right;
}
body {
	/*padding-top:105px;*/
}
#root.frezz {
	/*padding-top:95px;*/
}
.loader {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#fff;
	/* url(../images/loader.gif) no-repeat center;*/
	z-index:10000;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader-txt {
	font-family: 'Graphik-Bold';
	letter-spacing:-0.2px;
	font-size:60px;
	line-height:normal;
    /*font-family: 'Bowlby One SC', cursive;*/
    /*font-size: 10vw;*/
    /*width: 100vw;
    margin-top: calc(50vh - 10vw);*/
    text-align: center;
    /*background: linear-gradient(
        60deg,
        hsl(0, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 10%,
        hsl(20, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 25%,
        hsl(50, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 40%,
        hsl(130, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 55%,
        hsl(200, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 70%,
        hsl(260, 75%, 50%) 85%,
        hsl(0, 75%, 50%) 85%
    );*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ecfbf+0,2ecfbf+25,a1b5ba+25,a1b5ba+75,2ecfbf+75,2ecfbf+100 */
background: rgb(46,207,191); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(46,207,191,1) 0%, rgba(46,207,191,1) 25%, rgba(161,181,186,1) 25%, rgba(161,181,186,1) 75%, rgba(46,207,191,1) 75%, rgba(46,207,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(46,207,191,1) 0%,rgba(46,207,191,1) 25%,rgba(161,181,186,1) 25%,rgba(161,181,186,1) 75%,rgba(46,207,191,1) 75%,rgba(46,207,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(46,207,191,1) 0%,rgba(46,207,191,1) 25%,rgba(161,181,186,1) 25%,rgba(161,181,186,1) 75%,rgba(46,207,191,1) 75%,rgba(46,207,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecfbf', endColorstr='#2ecfbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /*text-shadow: 0.5px -0.6vw #fff4;*/
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 20s docolor linear infinite,
    10s zoomeffect ease alternate infinite;
}

@keyframes docolor {
    100% { background-position: 100vw 0px; }
}

@keyframes zoomeffect {
    100% { transform: scale(1.1);}
}
.scroll-link {
	position:absolute;
	color:#868d8b;
	font-size:12px;
	
	cursor:pointer;
	
	right:-45px;
	top:50%;
	margin-top:-12px;
	
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.scroll-link img {
	height:12px;
	vertical-align:middle;
	margin-right:10px;
}
#mainWrap {
	margin:0 auto;
	position:relative;

}
.inner-wrap {
	max-width:1300px;
	margin:0 auto;
}

header {
	height:45px;
	padding:30px 50px 30px 50px;
	background:rgba(255,255,255,0.98);
	z-index:1000; 
	position:fixed;
	left:0;
	right:0;
	top:0;	
}

header nav {
	float:right;
/*	font-family: 'Graphik-Medium';*/
	font-size:14px;
	color:#000;
	font-weight:500;
}
header nav ul li {
	cursor:pointer;
	position:relative;
	z-index:1;
}
header nav ul li span {
	font-weight:500;
}
header nav ul li a {
	color:#000;
	letter-spacing:-0.1px;
	display:block;
	font-weight:500;
}
header nav ul > li {
	float:left;
	margin-left:40px;
	height:45px;
	line-height:45px;
	position:relative;
	letter-spacing:-0.1px;
}
header nav ul > li > ul,
footer ul > li.parent ul {
	display:none;
	position:absolute;
	left:0;
	top:45px;
	width:180px;
	background:#fff;
	
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}
footer ul > li.parent ul {
	width:120px;
	margin-top:0;
}
header nav ul > li > ul > li > ul {
	display:none;
	position:absolute;
	left:180px;
	top:0px;
	
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}
header nav ul > li:hover > ul {
	display:block;
}
header nav ul > li.parent,
footer ul > li.parent {
	padding-right:16px;
	position:relative;
}
header nav ul > li ul li {
	margin:0;
	padding:0px;
	display:block;
	float:none;
}
header nav ul > li ul li a {
	padding:0 10px;
}
header nav ul > li ul li:hover,
footer ul li.parent ul li:hover {
	background:#f1f1f1;	
}
header nav ul > li.parent:after,
footer ul > li.parent:after {
	content:"";
	position:absolute;
	right:0;
	top:18px;
	border: solid #6f8086;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
footer ul > li.parent:after {
	right:auto;
	top:10px;
	left:100px;
	border: solid #333333;	
	border-width: 0 2px 2px 0;	
}
footer ul > li.parent:hover ul {
	display:block;
}
header nav ul > li ul li.parent:after {
	right:10px;
}
footer ul > li.parent ul {
	top:25px;
}
footer ul > li.parent ul li a {
	font-size:14px;
	display:block;
	padding:0 10px;
}
.logo img {
	height:45px;
}
a.join-link {
	float:right;
	width:150px;
	height:45px;
	line-height:45px;
	font-size:14px;
	/*font-family: 'Graphik-Medium';*/
	color:#ffff;
	background:#2ecfbf;
	text-align:center;
	margin-left:40px;
	letter-spacing:-0.1px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.mac-os a.join-link {
	line-height:47px;
}




footer {
    background-color: #f3f5f9;
    background-image: url(../images/footerimg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
	padding:185px 50px 55px 50px;
}
.footer-left {
	width:40%;
	float:left;
}
.footer-right {
	width:60%;
	float:right;
}
footer ul li, footer ul li a {
	font-size:18px;
	line-height:30px;
	color:#333333;
}
footer ul li.address {
	line-height:22px;
}
footer ul li.address span {
	opacity:0.6;
	color:#333333;
	line-height:normal;
}
footer ul li.address a {
	opacity:1;
	color:#333333;
	line-height:normal;
}
footer ul li.heading {
	font-size:15px;
	opacity:0.4;
	line-height:28px;
	margin-bottom:10px;
}
.footer-right ul {
	float:left;
	width:33.33%;
}
.color-yellow {
	color:#febe46;
}
.footer-links {
	height:33px;
	line-height:33px;
	padding:85px 0 35px 0;
	border-bottom:2px solid #e0e3e7;
	margin-bottom:25px;
}
.footer-links img {
	height:33px;

}
.footer-links a {
	margin-right:7px;
}
.footer-links .social-icons {
	float:right;
	height:33px;
}
.footer-links .social-icons img {
	height:auto;
	vertical-align:middle;

}
.footer-links .social-icons a {
	margin-right:0;
	margin-left:30px;
	vertical-align:middle;
	float:left;
	height:24px;
	vertical-align:middle;
}
.footer-desc .footer-left .footer-copyright {
	font-size:15px;
	line-height:22px;
	opacity:0.3;
}
.footer-desc .footer-right p {
	font-size:14px;
	line-height:18px;
	color:#6f8086;
	margin-bottom:25px;
	letter-spacing:-0.2px;
}
.footer-desc .footer-right p.small {
	font-size:12px;
	line-height:16px;
	letter-spacing:-0.1px;
}
.footer-desc .footer-right p sup.small {
	font-size:10px;
}
.footer-desc .footer-right p a {
	color:#333333;
}
.footer-desc .footer-right p:last-child {
	margin:0;
}

.heading {
	font-family: 'Graphik-Bold';
	letter-spacing:-0.2px;
	font-size:44px;
	line-height:40px;
	color:#000;
}
.heading p {
	margin-bottom:15px;
}
.desc {
	letter-spacing:-0.2px;
	font-size:23px;
	line-height:25px;
}
.desc p {
	margin-bottom:15px;
}
.app-links a {
	display:inline-block;
	vertical-align:middle;
	margin-right:20px;
}
.app-links a img {
	height:45px;
}
.sub-heading {
	font-family: 'Graphik-Medium';
	letter-spacing:-0.2px;
	font-size:35px;
	line-height:35px;
	margin-bottom:15px;
}
.sub-desc {
	letter-spacing:-0.2px;
	
}
.small-heading {
	font-family: 'Graphik-Medium';
	letter-spacing:-0.2px;
	margin-bottom:15px;
	color:#8f918e;
	font-size:15px;
	font-weight:500;
}

.learn-more-link {
	display:block;
	margin-top:25px;
	
	width:200px;
	height:45px;
	line-height:45px;
	font-size:14px;

	color:#ffff;
	background:#2ecfbf;
	text-align:center;
	letter-spacing:-0.1px;
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.fold {
	height:150vh;

	position:relative;
	margin:0 50px;
	
	/*-webkit-box-shadow:inset 0 -1px 1px 0 #FF0000;
	box-shadow:inset 0 -1px 1px 0 #FF0000;*/
}
.fold.first-fold {
	height:100vh;
}
.fold-left {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	
	display: flex;
	align-items: center;
	justify-content: left;
}
.fold-right {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	
	display: flex;
	align-items: center;
	justify-content: center;
}


.men-animation {
	position:fixed;
	width:300px;
	height:354px;
	top:50%;
	margin-top:-161px;
	/*left:75%;
	margin-left:-258px;*/
	z-index:1;
	
	background-image:url(../images/men-shadow.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:cover;
}
.men-animation.remove-freez {
	position:absolute;	
}
.fold-9 {
	width:300px;
	height:354px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-160px;
	visibility:hidden;
	
	background-image:url(../images/men-shadow.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:cover;
}
.fold-9 img {
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
@media only screen and (min-height: 800px) {
	/*.fold {
		height:800px;
		
	}*/
	/*.men-animation {
		top:240px;
		margin-top:0px;
	}*/
}
@media only screen and (min-width: 1400px) {
	.fold {
		width:1300px;
		margin:0 auto;
	}
}
.fold-2-inner-wrap {
	position:relative;
	width:710px;
	height:483px;
}

.fold-2-bg, .cloud-1, .cloud-2, .flight {
	position:absolute;
}
.fold-2-bg {
	top:25px;
	left:0;
}
.cloud-1 {
	top:25px;
	right:100px;
	
}
.cloud-2 {
	top:100px;
	right:0px;
	
	
}
.flight {
	top:100px;
	left:0px;
}


.fold-3-inner-wrap {
	width:750px;
	height:475px;
	position:relative;
}
.comfort-wrap {
	width:330px;
	height:185px;
	position:absolute;
	left:-20px;
	top:180px;
	z-index:1;
}


.time-wrap {
	width:400px;
	height:155px;
	position:absolute;
	left:250px;
	top:-60px;
}


.objective-wrap {
	width:300px;
	height:300px;
	position:absolute;
	right:50px;
	bottom:60px;
}



.build-wrap {
	position:relative;
}
.build-1, .build-2, .build-3, .build-4 {
	position:absolute;
}
.build-1 {
	left:57px;
	bottom:-120px;
}
.build-2 {
	right:175px;
	bottom:0px;
	z-index:1;
}
.build-3 {
	right:0px;
	bottom:-80px;
}
.build-4 {
	left:147px;
	bottom:-65px;
}
.build-handle {
	position:absolute;
	width:500px;
	height:520px;
	left:-100px;
	bottom:-50px;
	background:url(../images/build-handle.png) no-repeat 0 0;
	
}

.measurment-wrap {
	width:800px;
	height:440px;
	position:relative;
}
.machine-wrap {
	position:absolute;
	width:350px;
	height:350px;
	left:-40px;
	bottom:-75px;
}
.car {
	position:absolute;
	top:207px;
	left:530px;
}
.box {
	position:absolute;
	bottom:-40px;
	left:158px;
	z-index:1;
}
.rod {
	position:absolute;
	bottom:-80px;
	left:158px;
	z-index:2;
}

.chart-wrap {
	position:relative;
	width:830px;
	height:470px;
	margin-top:50px;
}
.chart-1-wrap {
	position:absolute;
	width:210px;
	top:80px;
	left:75px;
}

.chart-2-wrap {
	position:absolute;
	width:580px;
	top:-20px;
	left:113px;
}
.chart-3-wrap {
	position:absolute;
	width:295px;
	height:306px;
	bottom:-40px;
	right:-60px;
}

.manage-wrap {
	position:relative;
	width:820px;
	height:420px;
}

.manage-1-wrap {
	position:absolute;
	width:820px;
	height:420px;
	top:-50px;
	left:0px;
}
.manage-2-wrap {
	position:absolute;
	width:168px;
	height:293px;
	top:130px;
	left:90px;
	background-image:url(../images/manage-2-shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.manage-3-wrap {
	position:absolute;
	width:140px;
	height:275px;
	top:102px;
	right:90px;
	background-image:url(../images/manage-3-shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.map-wrap {
	position:relative;
	width:820px;
	height:430px;
}
.pin {
	position:absolute;
	right:135px;
	top:137px;
	top:0;
	
	opacity:0;
}
.map-inner-wrap {
	position:absolute;
	width:860px;
	height:340px;
	left:-20px;
	bottom:-100px;
}
.men-animation img,
.comfort-wrap img,
.time-wrap img,
.objective-wrap img,
.build-handle img,
.machine-wrap img,
.chart-1-wrap img,
.chart-2-wrap img,
.chart-3-wrap img,
.manage-1-wrap img,
.manage-2-wrap img,
.manage-3-wrap img,
.map-inner-wrap img {
	width:100%;
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
}

.men-animation img:first-child,
.men-animation img.active,
.comfort-wrap img:first-child,
.comfort-wrap img.active,
.time-wrap img:first-child,
.time-wrap img.active,
.objective-wrap img:first-child,
.objective-wrap img.active,
.build-handle img.active,
.machine-wrap img.active,
.chart-1-wrap img.active,
.chart-2-wrap img.active,
.chart-3-wrap img.active,
.manage-1-wrap img.active,
.manage-2-wrap img.active,
.manage-3-wrap img.active,
.map-inner-wrap img.active {
	visibility:visible !important;
}



.popup-mask {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#f3f5f9;
	z-index:1000;
	display:none;

}
.popup-close {
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/close.png) no-repeat center;
	cursor:pointer;
}
.popup-inner-wrap {
	position:absolute;
	left:50px;
	right:50px;
	top:50px;
	bottom:50px;
	overflow:auto;
	display:none;
	color:000;
}
.popup-heading {
	font-size:44px;
	
	font-weight:400;
	line-height:50px;	
}
.popup-inner-wrap p {
	margin-top:30px;
}
.select-table {
	width:60%;
	margin-left:10%;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	overflow:auto;
}
.select-table table th {
	text-align:left;
	padding-bottom:20px;
	border-bottom:2px solid #a4b5c0;
	color:#333333;
	font-size:17px;
	font-weight:64px;
	font-family: 'Graphik-Semibold';
}
.select-table table tr th:nth-child(2) {
	padding:0 20px 20px 20px;
}
.select-table table td {
	padding:20px 0;
	border-bottom:1px solid #dfe5f1;
	font-size:14px;
}
.select-table table tr:last-child td {
	border-bottom:none;
}
.select-table table tr td:nth-child(2) {
	padding:20px;
}
.green {
	color:#5beac2;
}
.popup-inner-wrap a {
	color:#5beac2;
}
.menu-toggle {
	display:none;
}
.desktop {
	/*display:inline-block !important;*/
}
.mobile {
	display:none !important;
}
@media only screen and (max-width: 1330px) {
	
}
@media only screen and (max-width: 1199px) {

	header, #root.frezz header {
	    padding: 25px;
	}
	
	
	footer {
		padding-left:25px;
		padding-right:25px;
	}
	
}
@media only screen and (max-width: 1099px) {
	a.join-link {
		width:150px;
	}
}
/*@media only screen and (max-width: 1024px) {

	body {
		padding-top:95px;
	}
	header {
		padding: 25px;
	}
}*/
@media only screen and (max-width: 1024px) {
	
	body {
		padding-top:65px;
		font-size:14px;
		line-height:18px;
	}
	.desktop {
		display:none !important;
	}
	.mobile {
		display:block !important;
	}

	header, #root.frezz header {
		padding: 10px 25px;
	}
	.logo {
		float:left;
		margin-top:10px;
	}
	a.join-link {
		width:100px;
		margin-left:0;
	}
	.logo img {
		height:28px;
	}
	header nav {
		float:none;
		position:fixed;
		right:0;
		top:65px;
		background:#fff;
		
		max-height:0;
		overflow:hidden;
		
		transition: all 1s;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-webkit-transition-timing-function: ease-in-out;
	}
	header nav.active {
		max-height:1000px;
	}
	header nav > ul {
		width:220px;
		background:#fff;
		
		-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
	}
	header nav ul > li {
		float:none;
		line-height:normal;
		height:auto;
		margin:0;
		background:#fff;
	}
	header nav ul li.parent {
		padding-right:0;
	}
	header nav ul li.parent::after {
		display:none;
	}
	header nav ul > li a {
		line-height:45px;
	}
	header nav ul > li span {
		display:block;
		line-height:45px;
		padding:0 10px;
	}
	header nav ul > li ul, header nav ul > li ul li ul {
		position:static;
		display:block;
		background:none;
		
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	header nav ul > li ul {
		padding-left:20px;
	}
	header nav ul li:hover, header nav a:hover {
		background:#fff !important;
	}
	.menu-toggle {
		height:45px;
		width:35px;
		margin-left:20px;
		float:right;
		position:relative;
		border:none;
		cursor:pointer;
		padding:0;
		display:block;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle span {
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:28px;
		left:5px;
		opacity:1;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle::after {
		content:'';
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:22px;
		left:5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle::before {
		content:'';
		position:absolute;
		width:30px;
		height:2px;
		background:#333333;
		bottom:16px;
		left:5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition-timing-function: ease-in-out;
	}
	.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus {
		background:none;
		border:none;
	}
	.toggled-on.menu-toggle span {
		opacity:0;
	}
	.toggled-on.menu-toggle::after {
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom:20px;
	}
	.toggled-on.menu-toggle::before {
		-moz-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		bottom:20px;
	}
	@media only screen and (max-height: 875px) {
		header nav {
			bottom:0;
			overflow:auto;
		}
	}
	
	footer {
		padding-top:40px;
		padding-bottom:40px;	
	}
	
	.footer-left {
		width:auto;
		float:none;
		margin-bottom:40px;
	}
	.footer-right {
		width:auto;
		float:none;
	}
	.footer-right ul {
		width:50%;
	}
	.footer-right ul:last-child {
		margin-top:40px;
		width:100%;
		clear:both;
	}
	footer ul > li.parent ul {
		margin-top:0 !important;
	}
	.footer-links {
		height:auto;
		padding:35px 0;
		text-align:center;
		line-height:normal;
		border-bottom: 1px solid #e0e3e7;
	}
	.footer-links a {
		margin:0 7px;
	}
	.footer-links .social-icons {
		float:none;
		height:auto;
		border-top: 1px solid #e0e3e7;
		padding-top:35px;
		margin-top:35px;
	}
	.footer-links .social-icons a {
		float:none;
		margin:0 15px;
	}
	
	
}

@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 350px) {
	a.join-link {
		width:70px;
	}
}

